{% load static %}
<html lang="en">
  <head> 
    <style>
        .admin
        {
            width: 100%;
            height: 120%;
            background-color: black;
            align-items: center;
            
        }
        .hh{
            color: aliceblue;
            text-align: center;
            
        
        }
       
       
       
        td{
            text-align: center;
            color: aliceblue;
        }
        .te
        {
            color: rgb(124, 121, 121);
        }
        .logout
        {
          margin-left: 15%;
        }
        .page
        {
            text-align: center;
            padding-top: 20%;
            font-size: 50px;
            font-family: fantasy;
        }
        .bt
        {
            width: 80%;
            margin-top: 30px;
            
        }
       
      
       .aaa
       {
        color: red;
       }
        
        
    </style>
    <title>ANGANWADI-Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-center">
	    	<a class="navbar-brand" href="/index/">ANGANWADI</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	       
	        	
			</ul>
				<div class="dropdown">
					<ul class="navbar-nav ml-auto">
					<li class="nav-item" class="nav-link">Anganwadi Management</a></li>
					<div class="dropdown-content">
					  <a href="/add_anganwadi/">Add Anganwadi</a>
					  <a href="/anganwadi/">Remove&Update Anganwadi</a>
					  
					</ul>
					</div>
          &nbsp;&nbsp;&nbsp;
          <br>
          <div class="dropdown">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item" class="nav-link">Food Management</a></li>
            <div class="dropdown-content">
              <a href="/add_foodmaster/">Add Food Master</a>
              <a href="/foodmaster/">Remove Food Master</a>
            </ul>
            </div>
            &nbsp;&nbsp;&nbsp;
            <br>
            <div class="dropdown">
              <ul class="navbar-nav ml-auto">
              <li class="nav-item te" class="nav-link">Staf Management</a></li>
              <div class="dropdown-content">
                <a href="/add_staf/" class="te">Add Staf</a>
                <a href="/staf/" class="te">Remove&Update Staf</a>
                
              </ul>
              </div>
              &nbsp;&nbsp;&nbsp;
              <br>
              <div class="dropdown">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item te" class="nav-link">Vccination Details</a></li>
                <div class="dropdown-content">
                  <a href="/add_vaccination/" class="te">Add Vaccination</a>
                  <a href="/vaccination/" class="te">Remove Vaccination</a>
                  
                </ul>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="dropdown">
                  <ul class="navbar-nav ml-auto">
                  <li class="nav-item te" class="nav-link">Report</a></li>
                  <div class="dropdown-content">
                    <a href="/ad_infant/" class="te">Infant</a>
                    <a href="/ad_student/" class="te">Student</a>
                    <a href="/ad_anganwadi/">Anganwadi</a>
                  </ul>
                  </div>
                  
            </ul>
            &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
            <div class="dropdown">
              <ul class="navbar-nav ml-auto">
              <li class="nav-item te" class="nav-link">View</a></li>
              <div class="dropdown-content">
                <a href="/view_complaint/" class="te">Complaints</a>
                <a href="/view_article/" class="te">Article</a>
                <a href="/view_notification/">Notifications</a>
              </ul>
              </div>
            
     

    </div>&nbsp;&nbsp;&nbsp;
    <ul class="navbar-nav ml-auto">
      <p><a href="/admin_logout/" class="btn btn-secondary px-4 py-3 mt-3 logout">LOGOUT</a></p>
        

  </ul>

    </div>
                  <!--
				  <ul class="navbar-nav ml-auto">
	        	<li class="nav-item"><a href="index.html" class="nav-link">Annual Programmes</a></li>
	        	<li class="nav-item"><a href="index.html" class="nav-link">Success Stories/Good Practices</a></li>
	        	<li class="nav-item"><a href="index.html" class="nav-link">Gallery</a></li>
	          <li class="nav-item"><a href="index.html" class="nav-link">Contact</a></li>
	        </ul>
            -->
	      </div>
	    </div>
	  </nav>

    <!-- END nav -->
    <section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(/static/images/image_1.jpg);" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-end">
    			<div class="col-md-6 py-5 px-md-5 bg-primary">
                    
	               <div class="heading-section heading-section-white ftco-animate mb-5">
                  <h2 class="hh">REMOVE STAF</h2>
    <div class="" style="overflow-x: auto;">
        
        <table class="tab" border="1">
 
            <tr>
                <th class="thh">
                    Staf_Id
                </th>
                <th class="thh">
                     Staf Name
                </th>
                <th class="thh">
                    Anganwadi_Id
                </th>
                <th class="thh">
                    Category
                </th>
                
                
                <th class="thh">
                    Phone
                </th>
                <th class="thh">
                    Address
                </th>
                <th class="thh">
                    D.O.B
                </th>
                <th class="thh">
                   Status
                </th>
                <th>

                </th>
                <th>

                </th>
        
            </tr>
            
            {% for data in data %}
            <tr>
                <td>
                    {{data.stf_id}}
                </td>
                <td>
                    {{data.staf_name}}
                </td>
                <td>
                    {{data.id_angan}}
                </td>
                <td>
                    {{data.category}}
                </td>
                <td>
                    {{data.phone}}
                </td>
                <td>
                    {{data.address}}
                </td>
                <td>
                    {{data.dob}}
                </td>
               
                <td>
                    {{data.status}}
                </td>
                <td>
                    <a  href="/remove_staf/{{data.stf_id}}" class="aaa">Remove</a>
                </td>
                <td>
                  <a  href="/edit_staf/{{data.stf_id}}" class="aaa">Update</a>
              </td>
            </tr>
            {% endfor %}
        </table>

    </div>
  </div>
</div>
</div>




</div>

</section>
    <!-- END nav -->


					

		
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-6 col-lg-3">
              <div class="ftco-footer-widget mb-5">
                  <h2 class="ftco-heading-2">Have a Questions?</h2>
                  <div class="block-23 mb-3">
                    <ul>
                      <li><span class="icon icon-map-marker"></span><span class="text">Kerala, India</span></li>
                      <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                      <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                    </ul>
                  </div>
              </div>
            </div>
            
            <div class="col-md-6 col-lg-3">
              <div class="ftco-footer-widget mb-5 ml-md-4">
                <h2 class="ftco-heading-2">Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                  <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                  <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Services</a></li>
                  <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Deparments</a></li>
                  <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
                </ul>
              </div>
            </div>
            
              <div class="ftco-footer-widget mb-5">
                  <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
                  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                  <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
  
              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved<i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"></a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>
      </footer>
      
    
  
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
	
    

  

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'js/google-map.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
    
  </body>
</html>